streamlit
PyPDF2
pytesseract
Pillow
langchain-groq
langchain-core
langchain-community
langchain-google-genai
python-dotenv
faiss-cpu
groq
langchain
pypdf
google-cloud-aiplatform>=1.38
google-generativeai
chromadb